<template>
    <div class="menu-container" style="height: 100vh">
        <div class="controls">
            <div class="toptext">
                <span class="pre-header">Game-key:</span>
            </div>
            <div class="top">
                <h1 class="game-name">{{ this.$route.params.id }}</h1>
            </div>
            <div class="actions">
                <v-btn v-if="owner && user && owner.id == user.id" color="primary" :disabled="users.length > 5" @click="startGame">Start game</v-btn>
            </div>
            <div class="content">
                <span class="pre-header">Players:</span>
                <span v-for="(player, idx) in users" :key="idx">{{ player.name }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        user() {
            return this.$store.getters.getUser;
        },
        users() {
            return this.$store.getters.getUsers;
        },
        owner() {
            return this.$store.getters.getOwner;
        },
        gameKey() {
            return this.$route.params.id;
        },
    },
    async mounted() {
        const game = await this.$store.dispatch("getGame", this.gameKey);
        if (game.exists) {
            await this.$store.dispatch("initializeGameLive", this.gameKey);
            if (game.data().started) {
                await this.$store.dispatch("initializeGameLive", this.gameKey);
                this.$router.push({ path: `/game/${this.gameKey}` });
            }
        } else {
            this.$router.push({ path: `/` });
        }
    },
    methods: {
        startGame() {
            this.$store.dispatch("startGame", this.gameKey);
            this.$router.push({ path: `/game/${this.gameKey}` });
        },
    },
};
</script>

<style></style>
