<template>
    <div>
        <v-card :class="flipped ? 'flipped' : ''" class="card" elevation="0" :style="`height: ${size}px; width: ${size * (3 / 5)}px`">
            <div class="card-face front yugi"></div>
            <div class="card-face back" :class="getRoleCard" @click="flip"></div>
        </v-card>
    </div>
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            default: 500,
        },
        flippable: {
            type: Boolean,
            default: false,
        },
        hovershadow: {
            type: Boolean,
            default: false,
        },
    },
    data: () => {
        return {
            whoosh: null,
            flipped: false,
            roles: ["null", "merlin", "percival", "morgana", "mordred", "good", "evil", "assassin", "oberon"],
        };
    },
    computed: {
        getRoleCard() {
            const idx = this.$store.getters.getUsers.find((usr) => usr.id == this.$store.getters.getUser.id).role;
            return this.roles[idx];
        },
    },
    mounted() {
        this.whoosh = new Audio("/whoosh.mp3");
    },
    methods: {
        flip() {
            if (this.flippable && !this.flipped) {
                this.whoosh.play();
                this.flipped = true;
            } else if (this.flippable && this.flipped) {
                this.$emit("flipped");
            }
        },
    },
};
</script>

<style lang="scss"></style>
