<template>
    <div ref="cardreveal" class="card-reveal" @mousemove="addHoverEffect">
        <card ref="hovercard" :size="500" flippable style="perspective: 1000px" @flipped="emitflip"></card>
    </div>
</template>

<script>
import Card from "~/components/card.vue";
export default {
    components: {
        Card,
    },
    // mounted() {
    //     this.$refs.hovercard.$el.addEventListener("mouse");
    // },
    methods: {
        addHoverEffect(e) {
            let xAxis = (window.innerWidth / 2 - e.pageX) / 30;
            let yAxis = (window.innerHeight / 2 - e.pageY) / 50;
            if (this.$refs.hovercard) {
                this.$refs.hovercard.$el.style.transform = `rotateY(${xAxis}deg) rotateX(${-yAxis}deg)`;
            }
        },
        emitflip() {
            this.$emit("flipped");
        },
    },
};
</script>

<style lang="scss"></style>
