<template>
    <div class="control-panel">
        <v-btn v-if="roundState == 0" :disabled="!confirmSelectDisabled" @click="confirmSelect">Confirm select</v-btn>
        <div v-if="roundState == 1">
            <v-btn :disabled="!revealVotesDisabled" @click="revealVotes">Reveal votes</v-btn>
            <p v-if="!revealVotesDisabled" class="white--text">Someone hasn't voted</p>
        </div>
        <v-btn v-if="roundState == 2" @click="initiateVoteRound">Continue</v-btn>
        <div v-if="roundState == 3">
            <v-btn :disabled="countVotesDisabled" @click="countVotes">Count Votes</v-btn>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        game: {
            type: Object,
            required: true,
        },
    },
    computed: {
        roundState() {
            return this.$store.getters.getRoundState;
        },
        confirmSelectDisabled() {
            return (
                this.$store.getters.isItMyTurn &&
                this.$store.getters.getState.selected.length == this.game.quests[this.$store.getters.getState.currentRound].players
            );
        },
        revealVotesDisabled() {
            return this.$store.getters.getUsers.findIndex((usr) => usr.hasVoted == false) == -1;
        },

        countVotesDisabled() {
            const store = this.$store.getters.getState;

            return this.$store.getters.getUsers.filter((usr) => store.selected.includes(usr.id)).findIndex((usr) => usr.hasVoted == false) != -1;
        },
    },
    methods: {
        confirmSelect() {
            this.$store.dispatch("confirmSelect", this.$route.params.id);
        },
        revealVotes() {
            this.$store.dispatch("revealVotes", this.$route.params.id);
        },
        initiateVoteRound() {
            const votedTrue = this.$store.getters.getUsers.filter((x) => x.vote == true).length;
            const votedFalse = this.$store.getters.getUsers.filter((x) => x.vote == false).length;
            if (votedTrue >= votedFalse) {
                this.$store.dispatch("initiateVoteRound", this.$route.params.id);
            } else {
                this.$store.dispatch("skipVote", this.$route.params.id);
            }
        },
        countVotes() {
            this.$store.dispatch("countVotes", this.$route.params.id);
        },
    },
};
</script>

<style></style>
