<template>
    <div ref="cardreveal" class="mission-vote" @mousemove="addHoverEffect">
        <v-card ref="hovercardleft" class="card" elevation="0" style="perspective: 1000px" :style="`height: ${size}px; width: ${size * (3 / 5)}px`">
            <div class="card-face front reject" @click="vote(false)"></div>
        </v-card>
        <v-card ref="hovercardright" class="card" elevation="0" :style="`height: ${size}px; width: ${size * (3 / 5)}px`">
            <div class="card-face front approve" @click="vote(true)"></div>
        </v-card>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            size: 500,
        };
    },
    methods: {
        vote(vote) {
            this.$store.dispatch("vote", { vote: vote, gameKey: this.$route.params.id });
        },
        addHoverEffect(e) {
            if (this.$refs.hovercardleft) {
                const xAxis = (window.innerWidth * (1 / 4) - e.pageX) / 30;
                const yAxis = (window.innerHeight / 2 - e.pageY) / 50;
                this.$refs.hovercardleft.$el.style.transform = `rotateY(${xAxis}deg) rotateX(${-yAxis}deg)`;
            }
            if (this.$refs.hovercardright) {
                const xAxis = (window.innerWidth * (3 / 4) - e.pageX) / 30;
                const yAxis = (window.innerHeight / 2 - e.pageY) / 50;
                this.$refs.hovercardright.$el.style.transform = `rotateY(${xAxis}deg) rotateX(${-yAxis}deg)`;
            }
        },
    },
};
</script>

<style></style>
