<template>
    <div class="gameboard">
        <div class="quests">
            <questcircle
                v-for="(quest, idx) in gameType.quests"
                :key="idx"
                :size="size"
                :quest="quest"
                :done="gameState.quests[idx].done"
                :success="gameState.quests[idx].success"></questcircle>
        </div>

        <votetrack :size="size" :wrong-vote="skipVotes" :game-type="gameType"></votetrack>
    </div>
</template>

<script>
import questcircle from "./questcircle.vue";
import Votetrack from "./votetrack.vue";
export default {
    components: { questcircle, Votetrack },
    props: {
        gameType: {
            type: Object,
            required: true,
        },
    },
    data: () => ({
        size: 0,
    }),
    computed: {
        gameState() {
            return this.$store.getters.getState;
        },
        skipVotes() {
            return this.$store.getters.getState.skipVotes;
        },
    },

    mounted() {
        this.getQuestCircleSize();
    },
    created() {
        window.addEventListener("resize", this.getQuestCircleSize);
    },
    destroyed() {
        window.removeEventListener("resize", this.getQuestCircleSize);
    },
    methods: {
        getQuestCircleSize() {
            let height = window.innerHeight * (4 / 7) * (1 / 3.4);
            let width = window.innerWidth * (4 / 8) * (3 / 3.4) * (1 / 5);
            this.size = (height > width ? width : height) * 0.9;
        },
    },
};
</script>

<style></style>
