<template>
    <div v-if="iKnow" class="knowledge">
        <p class="headline pb-2">{{ myRole }} knows:</p>
        <p v-for="usr in iKnow" :key="usr.id">{{ usr.name }}</p>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            roles: ["null", "merlin", "percival", "morgana", "mordred", "good", "evil", "assassin", "oberon"],
        };
    },
    computed: {
        iKnow() {
            return this.$store.getters.myRoleKnows;
        },
        myRole() {
            const role = this.$store.getters.getUsers.find((usr) => usr.id === this.$store.getters.getUser.id).role;
            return this.roles[role];
        },
    },
};
</script>

<style></style>
