<template>
    <div class="card-reveal justify-space-around">
        <v-card
            v-for="(card, idx) in cards"
            :key="idx"
            :class="flipped ? 'flipped' : ''"
            class="card round"
            elevation="0"
            :style="`height: ${size}px; width: ${size * (3 / 4)}px; transition-delay: ${idx * 2}s`">
            <div class="card-face round front yugi"></div>
            <div class="card-face round back" :class="card ? 'approve' : 'reject'"></div>
        </v-card>
        <v-btn class="continue-button" large :disabled="buttonDisabled" @click="continueRound">Continue</v-btn>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            flipped: false,
            buttonDisabled: true,
        };
    },
    computed: {
        size() {
            return (window.innerWidth * 0.6) / this.cards.length;
        },
        cards() {
            const g = this.$store.getters.getState;
            const usrs = g.users.filter((x) => g.selected.includes(x.id));

            return usrs.map((x) => x.vote).sort();
        },
    },
    mounted() {
        setTimeout(() => {
            this.flipped = true;
        }, 2000);
        setTimeout(() => {
            this.buttonDisabled = false;
        }, 2000 + 2000 * this.cards.length - 1);
    },
    methods: {
        continueRound() {
            if (this.cards.filter((x) => !x).length >= this.cards.filter((x) => x).length) {
                this.$store.dispatch("roundFinish", { gameKey: this.$route.params.id, round: false });
            } else {
                this.$store.dispatch("roundFinish", { gameKey: this.$route.params.id, round: true });
            }
        },
    },
};
</script>

<style></style>
