<template>
    <div class="user-entity" :class="canClick ? 'selectable' : ''" @click="selectPlayer(user.id)">
        <div class="avatar">
            <v-avatar color="primary" size="100" :class="avatarClass"> </v-avatar>
            <div v-if="isKing" class="crown"><span class="mdi mdi-crown" style="font-size: 24px"></span></div>
        </div>
        <span class="pt-3 username">
            {{ user.name }}
        </span>
    </div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            required: true,
        },
        canClick: {
            type: Boolean,
            required: true,
        },
        noDecorations: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        gameId() {
            return this.$route.params.id;
        },
        isSelected() {
            return this.$store.getters.getState.selected.includes(this.user.id);
        },
        avatarClass() {
            if (this.$store.getters.getRoundState == 2) {
                return this.user.vote ? "green" : "red";
            }
            return this.isSelected ? "highlighted" : "";
        },
        isKing() {
            const idx = this.$store.getters.getState.currentKing;
            return this.$store.getters.getUsers[idx].id == this.user.id;
        },
    },
    methods: {
        async selectPlayer(id) {
            if (typeof id === "string" && this.canClick) {
                await this.$store.dispatch("selectPlayer", { gameKey: this.gameId, playerId: id });
            }
        },
    },
};
</script>

<style></style>
