<template>
    <div class="d-flex justify-center align-center">
        <div v-if="!done" class="questcircle" :style="`height:${size}px !important; width:${size}px !important`">
            <h1 class="players-amount" :style="`font-size:${size / 2}px `">{{ quest.players }}</h1>
            <roundindicator :size="size"></roundindicator>
        </div>
        <div v-else class="questcircle" :style="`height:${size}px !important; width:${size}px !important`">
            <span v-if="success" class="mdi mdi-check" :style="`color: green; font-size: ${size / 2}px`"></span>
            <span v-else class="mdi mdi-close" :style="`color: red; font-size: ${size / 2}px`"></span>
        </div>
    </div>
</template>

<script>
import roundindicator from "./roundindicator.vue";
export default {
    components: { roundindicator },
    props: {
        size: {
            type: Number,
            required: true,
        },
        quest: {
            type: Object,
            required: true,
        },
        done: {
            type: Boolean,
            required: true,
        },
        success: {
            type: Boolean,
            required: true,
        },
    },
};
</script>

<style></style>
