<template>
    <div class="round-indicator" :style="`height: ${size * 0.3}px; width: ${size * 0.3}px`"></div>
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            required: true,
        },
    },
};
</script>

<style></style>
