<template>
    <v-dialog v-if="active" v-model="alwaysOn" width="500" persistent>
        <v-card>
            <v-card-title>Vote for this team:</v-card-title>
            <v-card-text class="d-flex justify-space-around">
                <player v-for="usr in team" :key="usr.id" :user="usr" :can-click="false" no-decorations></player>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="vote(false)">Reject</v-btn>
                <v-btn color="success" @click="vote(true)">Allow</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import Player from "~/components/player.vue";
export default {
    components: {
        Player,
    },
    data: () => {
        return {
            alwaysOn: true,
        };
    },
    computed: {
        team() {
            const selected = this.$store.getters.getState.selected;
            return this.$store.getters.getUsers.filter((usr) => selected.includes(usr.id));
        },
        active() {
            const hasVoted = this.$store.getters.getUsers.find((usr) => usr.id === this.$store.getters.getUser.id).hasVoted;
            return !hasVoted && this.$store.getters.getRoundState == 1;
        },
    },
    methods: {
        vote(vote) {
            this.$store.dispatch("vote", { vote: vote, gameKey: this.$route.params.id });
        },
    },
};
</script>

<style></style>
