<template>
    <div class="vote-track">
        <div class="description">
            <span class="desc-text">VOTE TRACK</span>
        </div>

        <voteindicator
            v-for="(i, idx) in 5"
            :key="idx"
            :active="i > wrongVote"
            :style="`grid-area:track${i}; height:${size * (5 / 7)}px !important; width:${size * (5 / 7)}px !important`">
            {{ i }}
        </voteindicator>
        <div class="person-count">
            <span>{{ users.length }} Players</span>
            <span class="ml-3">{{ gameType.minions }} Minions of Mordred</span>
        </div>
    </div>
</template>

<script>
import voteindicator from "./voteindicator.vue";
export default {
    components: { voteindicator },
    props: {
        gameType: {
            type: Object,
            required: true,
        },
        size: {
            type: Number,
            required: true,
        },
        wrongVote: {
            type: Number,
            required: true,
        },
    },
    computed: {
        users() {
            return this.$store.getters.getUsers;
        },
    },
};
</script>

<style></style>
