<template>
    <div class="vote-indicator">
        <slot v-if="active"></slot>
        <span v-else class="mdi mdi-close" style="color: red; font-size: 40px"></span>
    </div>
</template>

<script>
export default {
    props: {
        active: {
            type: Boolean,
            required: true,
        },
    },
};
</script>

<style></style>
