<template>
    <div v-if="loaded" class="game-container">
        <transition name="fade-transition">
            <cardreveal v-if="!revealed && reveal" ref="cardreveal" @flipped="revealed = true"></cardreveal>
        </transition>
        <gameboard v-if="selectedGameType" :game-type="selectedGameType"></gameboard>
        <div class="usersone usercontainer">
            <player v-for="userguy in usersone" :key="userguy.id" :user="userguy" :can-click="isItMyTurn"></player>
        </div>
        <div class="userstwo usercontainer">
            <player v-for="userguy in userstwo" :key="userguy.id" :user="userguy" :can-click="isItMyTurn"></player>
        </div>
        <controlpanel v-if="isItMyTurn" :game="selectedGameType"></controlpanel>
        <knowledge></knowledge>
        <skipvote></skipvote>
        <transition name="fade-transition">
            <gamevote v-if="gamevote"></gamevote>
        </transition>
        <transition name="fade-transition">
            <missionvotes v-if="missionvotes"></missionvotes>
        </transition>
    </div>
</template>

<script>
import games from "~/static/games.js";
import Cardreveal from "../../components/cardreveal.vue";
import Controlpanel from "../../components/controlpanel.vue";
import Gameboard from "../../components/gameboard.vue";
import Knowledge from "../../components/knowledge.vue";
import Player from "../../components/player.vue";
import Skipvote from "../../components/skipvote.vue";
import Gamevote from "../../components/gamevote.vue";
import Missionvotes from "../../components/missionvotes.vue";
export default {
    name: "Game",
    components: {
        Cardreveal,
        Gameboard,
        Player,
        Controlpanel,
        Knowledge,
        Skipvote,
        Gamevote,
        Missionvotes,
    },
    data: () => {
        return {
            reveal: false,
            revealed: false,
        };
    },
    computed: {
        user() {
            return this.$store.getters.getUser;
        },
        users() {
            return this.$store.getters.getUsers;
        },
        usersone() {
            return this.$store.getters.getUsers.slice(0, 5);
        },
        userstwo() {
            return this.$store.getters.getUsers.slice(5, 10);
        },

        loaded() {
            return !!this.$store.getters.getOwner && this.user;
        },
        gameKey() {
            return this.$route.params.id;
        },
        isItMyTurn() {
            return this.$store.getters.isItMyTurn;
        },
        gamevote() {
            return (
                this.$store.getters.getRoundState == 3 &&
                !this.$store.getters.getUsers.find((usr) => usr.id === this.$store.getters.getUser.id).hasVoted
            );
        },
        missionvotes() {
            return this.$store.getters.getRoundState == 4;
        },
        selectedGameType() {
            switch (this.$store.getters.getState.gameType) {
                case 6:
                    return games.sixPlayers;
                case 7:
                    return games.sevenPlayers;
                case 8:
                    return games.eightPlayers;
                case 9:
                    return games.ninePlayers;
                case 10:
                    return games.tenPlayers;
                default:
                    return games.fivePlayers;
            }
        },
    },
    async mounted() {
        if (!this.loaded) {
            await this.$store.dispatch("initializeGameLive", this.gameKey);
        } else {
            setTimeout(() => {
                this.reveal = true;
            }, 0);
        }
    },
};
</script>

<style lang="scss"></style>
