.v-application {
    background: #35393d !important;
 
    
    .menu-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .controls {
            background-color: white;
            border-radius: 20px;
            width: 600px;
            height: 800px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr;
            grid-template-rows: 0.5fr 0.3fr 0.5fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                ". top ."
                ". title ."
                ". actions ."
                ". buttons ."
                "logstat logstat .";
            
                .top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-area: title;
                    .game-name {
                        font-size: 60px;
                    }
                }
                
                .actions{
                    grid-area: actions;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .toptext{
                    display: flex;
                    flex-direction: column-reverse;
                    grid-area: top;
                }

                .pre-header{
                    color: darkgrey;
                    font-weight: 500;
                }
            .buttons {
                grid-area: buttons;
                display: flex;
                flex-direction: column;
            }
            .content{
                grid-area: buttons;
                display: flex;
                flex-direction: column;
            }
            .auth-status{
                display: flex;
                flex-direction: column-reverse;
                grid-area: logstat;
                .auth-action{
                    color: #28BAE9;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .card-reveal{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.70);
        z-index: 10;
        .continue-button{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 70%;
        }
    }

    .hovershadow {
        -webkit-box-shadow: 10px 10px 38px 2px rgba(255, 255, 255, 1) !important;
        -moz-box-shadow: 10px 10px 38px 2px rgba(255, 255, 255, 1) !important;
        box-shadow: 10px 10px 38px 2px rgba(255, 255, 255, 1) !important;
    }
    .game-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        @media screen and (max-width: 1620px) {
            grid-template-columns: 0fr 1fr 4fr 1fr 0fr;
        }
        
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 4fr 1fr 0.5fr;
        grid-template-areas:
                ". . . . ."
                ". . users-one . ."
                ". knowledge center control ."
                ". . users-two . ."
                ". . . . .";
        .knowledge{
            display:flex;
            flex-direction: column;
            align-items: center;
            grid-area: knowledge;
            .headline{
                font-size: 14px;
                text-decoration: underline;
                text-transform: capitalize;
            }
            p{
                color: white;
                margin-bottom: 0px;
            }
        }
        .mission-vote{
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            justify-content: space-around;
            align-items: center;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.70);
            .v-card.card{
                transition: transform 0s;
            }
            .reject {
                cursor: pointer;
                background-image: url("~static/reject.png");
            }
            .approve {
                cursor: pointer;
                background-image: url("~static/approve.png");
            }
        }

        .v-card.card {
            position: relative;
            transition: transform 1s;
            transform-style: preserve-3d;
            border-radius: 15px !important;
            .card-face {
                height: 100%;
                width: 100%;
                background-position: 50%;
                background-size: cover;
                border-radius: 15px;
                &.front {
                    position: absolute;
                    backface-visibility: hidden;
                }
                &.back {
                    transform: rotateY(180deg);
                }
                &.round{
                    border-radius: 40px !important;
                }
            }
            
            &.round{
                border-radius: 40px !important;
            }
            &.flipped {
                transform: rotateY(180deg);
            }
            .merlin {
                background-image: url("~static/merlin.png");
            }
            .percival {
                background-image: url("~static/percival.png");
            }
            .morgana {
                background-image: url("~static/morgana.png");
            }
            .mordred {
                background-image: url("~static/mordred.png");
            }
            .good {
                background-image: url("~static/good.png");
            }
            .evil {
                background-image: url("~static/evil.png");
            }
            .assassin {
                background-image: url("~static/assassin.png");
            }
            .oberon {
                background-image: url("~static/oberon.png");
            }
            .yugi {
                background-image: url("~static/back.png");
            }
            .reject {
                background-image: url("~static/reject.png");
            }
            .approve {
                background-image: url("~static/approve.png");
            }
        }
        .gameboard{
            grid-area: center;
            width: 100%;
            height: 100%;
            background-color: rgb(192, 192, 192);
            border-radius: 40px;
            display: grid;
            grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
            grid-template-columns: 0.2fr 3fr 0.2fr;
            grid-template-areas:
            ". . ." 
            ". top ." 
            ". center ." 
            ". bottom ." 
            ". . .";
            
            .quests{
                grid-area: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
                .questcircle{
                    position: relative;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(145deg, #b8b8b8, #dadada);
                    box-shadow:  23px 23px 46px #bababa, 
                                -23px -23px 46px #dedede; 
                    .round-indicator{
                        position: absolute;
                        border-radius: 50%;
                        bottom: 0;
                        right: 0;
                        background-color: white;
                    }
                    
                }
            }
            .vote-track{
                display: grid;
                grid-area: bottom;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
                grid-template-areas:
                "desc desc . . . ." 
                "track1 track2 track3 track4 track5 ." 
                "track1 track2 track3 track4 track5 p-count" 
                "track1 track2 track3 track4 track5 ." 
                ;
                @media screen and (max-width: 1620px) {
                    grid-template-areas:
                "desc desc . . . ." 
                "track1 track2 track3 track4 track5 ." 
                "track1 track2 track3 track4 track5 p-count" 
                "track1 track2 track3 track4 track5 p-count" 
                }
                .vote-indicator{
                    border-radius: 50%;
                    background-color: white;
                    align-self: center;
                    justify-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                }
                .person-count{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 20px;
                    margin-left: 20px;
                    grid-area: p-count;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    background: #747474;
                    color: white;
                    border-radius: 15px;
                }
                
                .desc-text{
                    font-weight: 500;
                    font-size: 24px;
                }

                .description{
                    margin-top: 10px;
                    padding-right: 20px;
                    grid-area: desc;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background: #747474;
                    color: white;
                    z-index: 1;
                    border-radius: 15px;
                }
            }
        }
        .control-panel{
            grid-area: control;
            padding-left: 10px;
            padding-right: 10px;
        }
        .usercontainer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            &.usersone{
                grid-area: users-one;
            }
            &.userstwo{
                grid-area: users-two;
                
            }
            .user-entity{
                width: calc(100vw * (1/2) * (1/5) );
                display: flex;
                align-items: center;
                flex-direction: column;
                pointer-events: none;
                cursor: default;

                &.selectable{
                    pointer-events: all;
                    cursor: pointer;
                }
                .username{
                    color: white;
                    font-weight: 500;
                } 
                .avatar{
                    position: relative;
                    .crown{
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
                .highlighted{
                    box-shadow:
                        inset 0 0 50px #fff,      /* inner white */
                        inset 20px 0 80px gold,   /* inner left magenta short */
                        inset -20px 0 80px saddlebrown,  /* inner right cyan short */
                        inset 20px 0 300px gold,  /* inner left magenta broad */
                        inset -20px 0 300px saddlebrown, /* inner right cyan broad */
                        0 0 50px #fff,            /* outer white */
                        -10px 0 80px gold,        /* outer left magenta */
                        10px 0 80px saddlebrown;         /* outer right cyan */
                }
                .green{
                    box-shadow:
                        inset 0 0 50px #fff,      /* inner white */
                        inset 20px 0 80px rgb(0, 255, 13),   /* inner left magenta short */
                        inset -20px 0 80px rgb(0, 141, 19),  /* inner right cyan short */
                        inset 20px 0 300px rgb(0, 255, 13),  /* inner left magenta broad */
                        inset -20px 0 300px  rgb(0, 141, 19), /* inner right cyan broad */
                        0 0 50px #fff,            /* outer white */
                        -10px 0 80px rgb(0, 255, 13),        /* outer left magenta */
                        10px 0 80px  rgb(0, 141, 19);         /* outer right cyan */
                }
                .red{
                    box-shadow:
                        inset 0 0 50px #fff,      /* inner white */
                        inset 20px 0 80px rgb(255, 0, 0),   /* inner left magenta short */
                        inset -20px 0 80px rgb(95, 0, 0),  /* inner right cyan short */
                        inset 20px 0 300px rgb(255, 0, 0),  /* inner left magenta broad */
                        inset -20px 0 300px rgb(95, 0, 0), /* inner right cyan broad */
                        0 0 50px #fff,            /* outer white */
                        -10px 0 80px rgb(255, 0, 0),        /* outer left magenta */
                        10px 0 80px rgb(95, 0, 0);         /* outer right cyan */
                }
            }
        }
    }
    
}