<template>
    <v-app>
        <Nuxt />
    </v-app>
</template>

<script>
export default {
    created() {
        this.$store.dispatch("initializeAuth");
    },
};
</script>

<style lang="scss"></style>
