<template>
    <div class="menu-container" style="height: 100vh">
        <div class="controls">
            <div class="top">
                <h1 class="game-name">Avalon</h1>
            </div>
            <div class="buttons">
                <v-text-field
                    v-model="inputid"
                    dense
                    outlined
                    :rules="[rules.min]"
                    maxlength="9"
                    placeholder="Game key"
                    :error-messages="inputErrors"></v-text-field>
                <v-btn color="primary" class="mb-4" large @click="joinGame">Join game</v-btn>
                <v-btn color="primary" large text @click="createGame">Create game</v-btn>
            </div>

            <div class="auth-status pb-3 pl-4">
                <span>
                    <span v-if="user" class="auth-action" @click="signOut">Sign out</span>
                    <span v-else class="auth-action" @click="signIn">Sign in</span>
                </span>
                <div v-if="user"><strong>Signed in as: </strong>{{ user.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            inputid: "",
            inputErrors: [],
            rules: {
                min: (v) => v.length == 9 || "Must be 9 characters long",
            },
        };
    },
    computed: {
        user() {
            return this.$store.getters.getUser;
        },
        gameKey() {
            return this.$route.params.id;
        },
    },

    methods: {
        async createGame() {
            if (!this.user) {
                await this.$store.dispatch("signInWithFacebook");
            }
            let id = await this.$store.dispatch("createGame");
            this.$router.push({ path: `/lobby/${id}` });
        },
        async joinGame() {
            if (!this.user) {
                await this.$store.dispatch("signInWithFacebook");
            }

            try {
                const game = await this.$store.dispatch("getGame", this.inputid);
                if (game.exists) {
                    if (!game.data().users.some((e) => e.id === this.user.id)) {
                        await this.$store.dispatch("joinGame", this.inputid);
                    }
                    this.$router.push({ path: `/lobby/${this.inputid}` });
                } else {
                    this.inputErrors.push("No such game exists");
                    setTimeout(() => {
                        this.inputerrors = [];
                    }, 2000);
                }
            } catch (e) {
                return;
            }
        },

        async signIn() {
            await this.$store.dispatch("signInWithFacebook");
        },

        signOut() {
            this.$store.dispatch("signOut");
        },
    },
};
</script>

<style></style>
